body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(181, 159, 189);
    color: black;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(246, 241, 236);
    color: rgb(2, 2, 2);
    padding: 30px;;
    text-align: center;
}

header h1{
        margin: 0;
        font-size: 40px;
}

header p{
        margin: 0;
        font-size: 100px;
}